<%= stylesheet_link_tag    "results", "data-turbolinks-track" => true %>
<%= javascript_include_tag "results", "data-turbolinks-track" => true %>
<div id="results">
	results go here
	<%= "address = " + @address %>
	<%= "vendor type = " + @vendor_type%>
</div>

<div id="map">
	map goes here
	<div id="map-canvas"></div>
</div>
